{{define "page:title"}}Example page{{end}}

{{define "page:main"}}
<section class="w-full p-4 space-y-8">
    <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold">Create Prediction</h1>
        <a href="/admin">Go Back</a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <form class="md:col-span-2"
              method="post"
              action="/admin/prediction">
            {{if .Form.Validator.HasErrors}}
            <p id="error">Something was wrong. Please correct the errors below and try again.</p>
            {{end}}
            <input type="hidden"
                   name="id"
                   value={{.Form.ID}}>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="teams">
                    Teams </label>
                {{with .Form.Validator.FieldErrors.Title}}
                <span class='error'>{{.}}</span>
                {{end}}
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="teams"
                       placeholder="Team A vs Team B"
                       type="text"
                       name="title"
                       value={{.Form.Title}} />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="prediction-type">
                    Prediction Type </label><input
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="prediction-type"
                       placeholder="over 1.5"
                       type="text"
                       name="prediction_type"
                       value={{.Form.PredictionType}} />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="scheduled_at">
                    Scheduled Time </label><input
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="scheduled_at"
                       type="datetime-local"
                       name="scheduled_at"
                       value={{.Form.ScheduledAt
                       |
                       formatTime "2006-01-02T15:04"
                       }} />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="odds">
                    Prediction Odds </label><input
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="odds"
                       placeholder="2.5:1"
                       type="text"
                       name="odds"
                       value={{.Form.Odds}} />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="body">
                    Match Details </label><textarea
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          id="body"
                          name="body">{{.Form.Body}}</textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="keywords">
                    SEO Keywords </label><textarea
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          id="keywords"
                          name="keywords">{{.Form.Keywords}}</textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="isArchived">
                    Is Archived </label><input id="isArchived"
                       type="checkbox"
                       name="is_archived"
                       {{if
                       eq
                       .Form.IsArchived
                       true
                       }}
                       checked{{end}} />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2"
                       for="isFeatured">
                    Is Featured </label><input id="isFeatured"
                       type="checkbox"
                       name="is_featured"
                       {{if
                       eq
                       .Form.IsFeatured
                       true
                       }}
                       checked{{end}} />
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    Save</button>
                {{if .Form.ID}}
                <button hx-delete="/admin/prediction/{{.Form.ID}}"
                        hx-target="body"
                        hx-push-url="true"
                        hx-confirm="Are you sure?"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button">
                    Delete
                </button>
                {{end}}
            </div>
        </form>
    </div>
</section>
{{end}}